@model GroupProjectCB16.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="col-lg-8 col-md-8 align-items-center container mb-10 mt-10">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        <div class="mt-10">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "single-input" })
            </div>
        </div>
        <div class="mt-10">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.LastName, new { @class = "single-input" })
            </div>
        </div>
        <div class="mt-10">
            @Html.LabelFor(m=>m.DateOfBirth,new {@class="control-label" })
            <input type="date" name="DateOfBirth"  class="single-input"/>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="mt-10">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "single-input" })
            </div>
        </div>
        <div class="mt-10">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "single-input" })
            </div>
        </div>
        <div class="mt-10">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "single-input" })
            </div>
        </div>

        <div class="button-group-area mt-40">
            <input class="genric-btn primary circle" type="submit" value="Register" />
            <input class="genric-btn success circle" type="reset" value="Clear" />
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

