@model GroupProjectCB16.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 class="text-center">@ViewBag.Title</h2>




<div class="col-lg-8  align-items-center container mb-10 mt-10">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", id = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account</h4>
        <hr />
        <span class="mb-10">Register as :</span>
        <div>
            <select class="mt-10 select-Categories single-input" name="Role" id="Role" onchange="selectForm(this)" required>
                <option value="User">User</option>
                <option value="Company">Company</option>
                <option value="Admin">Admin</option>
            </select>
        </div>

        <div class="mt-10">
            @Html.LabelFor(m => m.Name, new { @class = "control-label mt-10" })
            <div>
                @Html.TextBoxFor(m => m.Name, new { @class = "single-input" })
            </div>
        </div>


        <div class="mt-10" id="surnameForm">
            <label for="Surname" class="control-label">Surname</label>
            <div>
                <input type="text" name="Surname" id="Surname" class="single-input" />
            </div>
        </div>


        <div class="mt-10">
            @Html.LabelFor(m => m.BirthDate, "Date of birth", new { @class = "control-label", id = "dateLabel" })
            <input type="date" name="BirthDate" class="single-input" />
        </div>

        <div class="mt-10 mb-10" id="genderForm">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "single-input" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mt-10">
            <label class="control-label" for="Name">Address</label>
            <div>
                @Html.TextBoxFor(m => m.Address, new { @class = "single-input" })
            </div>
        </div>

        <div class="mt-10">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Phone, new { @class = "single-input" })
            </div>
        </div>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="mt-10">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "single-input" })
            </div>
        </div>
        <div class="mt-10">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "single-input" })
            </div>
        </div>
        <div class="mt-10">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "single-input" })
            </div>
        </div>
        <div class="mt-10">
            <label class="control-label" for="photo" id="photoLabel">Upload Profile Picture</label>
            <div>
                <input type="file" name="photo" id="photo" />
            </div>
        </div>
        <div class="mt-10" id="uploadCv">
            <label class="control-label" for="cv" id="cvLabel">Upload CV</label>
            <div>
                <input type="file" name="cv" id="cv" />
            </div>
        </div>
        <div class="button-group-area mt-40">
            <input class="genric-btn primary circle" type="submit" value="Register" />
            <input class="genric-btn success circle" type="reset" value="Clear" />
        </div>
    }

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function selectForm(elem) {
        var selected = document.getElementById("Role").valueOf().toString();
        if (elem.value == "Company") {
            document.getElementById("surnameForm").style.display = "none";
            document.getElementById('dateLabel').innerHTML = "Date Founded";
            document.getElementById("genderForm").style.display = "none";
            document.getElementById('photoLabel').innerHTML = "Company Logo";
            document.getElementById("uploadCv").style.display = "none";
        }
        else {
            document.getElementById("surnameForm").style.display = "";
            document.getElementById('dateLabel').innerHTML = "Date of birth";
            document.getElementById("genderForm").style.display = "";
        }
    }
</script>
}


