@model GroupProjectCB16.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">My Profile</h2>

<div>
    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Content/Photos/@Model.Photo" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Surname)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Surname)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.BirthDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BirthDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Address)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Gender)
                                </dd>



                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>


                                <dt>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </dd>



                                <dt>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UserName)
                                </dd>

                            </dl>
                        </p>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "genric-btn primary-border circle" }) |
                            @Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "genric-btn success-border circle" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
</div>
