<!DOCTYPE html>
<html>
<head>

    @Html.Partial("~/Views/Shared/Components/_MetaHeader.cshtml")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Preloader -->
    @Html.Partial("~/Views/Shared/Components/_Preloader.cshtml")

    <!-- Header Start -->
    @Html.Partial("~/Views/Shared/Components/_Header.cshtml")
    <!-- Header End -->

    <main>
        @RenderBody()
    </main>




    <!-- Footer Start-->
    @Html.Partial("~/Views/Shared/Components/_Footer.cshtml")
    <!-- Footer End-->
    <!-- JS here -->
    @Html.Partial("~/Views/Shared/Components/_JsLibraries.cshtml")
    
    @Scripts.Render("~/bundles/jquery")
    
    @RenderSection("scripts", required: false)
</body>
</html>