@using Entities.Enums
@model IEnumerable<Entities.Models.Job>
@using Entities.Models

@{
    ViewBag.Title = "GetAllJobAds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-9 col-lg-9 col-md-8">
    <!-- Featured_job_start -->
    <section class="featured-job-area">
        <div class="container">
            <!-- Count of Job list Start -->
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <span>@Model.Count() Jobs Found</span>
                        @Html.ActionLink("Create","CreateJobAd",null,new {@class="btn head-btn2"})
                    </div>
                </div>
            </div>
            <!-- Count of Job list End -->
            <!-- single-job-content -->
            @foreach (var item in Model)
            {
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="job-tittle job-tittle2">
                            @Html.ActionLink(item.Title, "UpdateAd", new { id = item.Id }, new { @class = "text-dark" })
                            <ul>
                                @*<li><a href="/UpdateAd?id=@item.Id" @item.Title /></li>*@
                                <li>@item.Company.Name</li>
                                <li><i class="fas fa-map-marker-alt"></i>@item.WorkPlace</li>
                                <li>@item.Salary €/Month</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link2 ">
                        <p>@item.EmploymentType</p>
                        <p>Posted on @item.DatePosted.Date.ToShortDateString() </p>
                        <form action="/Job/Delete" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </form>
                    </div>

                </div>
                @*<a class="btn btn-danger" href="/Job/DeleteConfirmation?id=@item.Id">Delete</a>*@
        
            }
            <!-- single-job-content -->
        </div>
    </section>
    <!-- Featured_job_end -->
</div>
