@using Entities.Enums
@model IEnumerable<Entities.Models.Job>
@using Entities.Models

@{
    ViewBag.Title = "GetAllJobAds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-9 col-lg-9 col-md-8">
    <!-- Featured_job_start -->
    <section class="featured-job-area">
        <div class="container">
            <!-- Count of Job list Start -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="count-job mb-35">
                        <span>@Model.Count() Jobs Found</span>
                    </div>
                </div>
            </div>
            <!-- Count of Job list End -->
            <!-- single-job-content -->
            @foreach (var item in Model)
            {

                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="job-tittle job-tittle2">
                            @*@Html.ActionLink(item.Title, "Details", new { id = item.Id }, new { @class = "text-dark" })*@
                            <ul>
                                <li>@item.Title</li>
                                @*<li>@item.Company.Name</li>*@
                                <li><i class="fas fa-map-marker-alt"></i>@item.WorkPlace</li>
                                <li>@item.Salary €/Month</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                        <a href="">@item.EmploymentType</a>
                        <span>Posted on @item.DatePosted.Date.ToShortDateString() </span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id },new {@class="btn btn-danger"})
                    </div>

                </div>
                @*<a class="btn btn-danger" href="/Job/DeleteConfirmation?id=@item.Id">Delete</a>*@
        
            }
            <!-- single-job-content -->
        </div>
    </section>
    <!-- Featured_job_end -->
</div>
